In [3]:
!pip show pymongo

Name: pymongo
Version: 4.0.1
Summary: Python driver for MongoDB <http://www.mongodb.org>
Home-page: http://github.com/mongodb/mongo-python-driver
Author: The MongoDB Python Team
Author-email: mongodb-user@googlegroups.com
License: Apache License, Version 2.0
Location: c:\users\vega2\anaconda3\lib\site-packages
Requires:
Required-by:

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.0.1-cp38-cp38-win_amd64.whl (354 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.0.1

### Pymongo을 사용해서 MongoDB 제어하기

1. pymongo 라이브러리 import
2. MongoDB 접속
3. Database, Collection 생성
4. Collection 의 document를 CRUD 하기

In [4]:
import pymongo

#connetion  생성
mongoClient = pymongo.MongoClient("localhost", 27017)
print(mongoClient)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
#database 생성
mydb = mongoClient.pymongo_db
print(mydb)
print(mydb.name)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db')
pymongo_db

In [138]:
#pymongo_db 삭제
mongoClient.drop_database('pymongo_db')

In [11]:
#db를 생성해도 DB 목록에 보이지 않는다.
for db in mongoClient.list_databases():
    print(db)

{'name': 'admin', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 36864.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960.0, 'empty': False}
{'name': 'mymongo_db', 'sizeOnDisk': 700416.0, 'empty': False}
{'name': 'pymongo_db', 'sizeOnDisk': 8192.0, 'empty': False}

In [8]:
#collection 생성
mycol = mydb.pymongo_col
print(mycol)
print(mycol.name)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col')
pymongo_col

#### Insert_one() , insert_many() 함수

In [10]:
post = {"author":"길동","text":"첫번째 글","tags":["mongodb","python","pymongo"]}
result = mycol.insert_one(post)
print(result)
print(result.inserted_id)

<pymongo.results.InsertOneResult object at 0x000001F277EF2D40>
61baa3056c2d74384d778413

* show dbs;
* use pymongo_db;
* db.dropDatabase();

In [22]:
#collection 목록
for collect in mydb.list_collection_names():
    print(collect)

pymongo_col

In [13]:
mycol.find()

In [14]:
for post in mycol.find():
    print(type(post))
    print(post)

<class 'dict'>
{'_id': ObjectId('61baa3056c2d74384d778413'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [15]:
#document 갯수 알아내기
mycol.count_documents({})

1

In [16]:
posts = [
    {"author":"둘리","age":10},
    {"author":"길동","age":20},
    {"author":"영희","age":30},
]
mycol.insert_many(posts)

In [17]:
print(mycol.count_documents({}))
for post in mycol.find({}):
    print(post)

4
{'_id': ObjectId('61baa3056c2d74384d778413'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('61baa42c6c2d74384d778414'), 'author': '둘리', 'age': 10}
{'_id': ObjectId('61baa42c6c2d74384d778415'), 'author': '길동', 'age': 20}
{'_id': ObjectId('61baa42c6c2d74384d778416'), 'author': '영희', 'age': 30}

In [18]:
for post in mycol.find({},{"author":1,"age":1,"text":1,"_id":0}):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '길동', 'age': 20}
{'author': '영희', 'age': 30}

In [19]:
for post in mycol.find({},{"author":1,"age":1,"text":1,"_id":0}).sort("age",pymongo.ASCENDING):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '길동', 'age': 20}
{'author': '영희', 'age': 30}

In [20]:
for post in mycol.find({},{"author":1,"age":1,"text":1,"_id":0}).sort("age",pymongo.DESCENDING):
    print(post)

{'author': '영희', 'age': 30}
{'author': '길동', 'age': 20}
{'author': '둘리', 'age': 10}
{'author': '길동', 'text': '첫번째 글'}

In [21]:
#employees collection 생성하기
emp_col = mydb.employees
print(emp_col)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'employees')

In [24]:
#datetime.py 모듈을 import
import datetime

datetime.datetime.strptime("2016-01-02","%Y-%m-%d")

datetime.datetime(2016, 1, 2, 0, 0)

In [25]:
#datetime 모듈안에 포함 datetime 클래스를 import
from datetime import datetime
datetime.strptime("2021-12-13","%Y-%m-%d")

datetime.datetime(2021, 12, 13, 0, 0)

In [26]:
from datetime import datetime

emp_list = [
  {"number":1001,"last_name":"Smith","first_name":"John","salary":62000,"department":"sales", "hire_date":datetime.strptime("2016-01-02","%Y-%m-%d")},
  {"number":1002,"last_name":"Anderson","first_name":"Jane","salary":57500,"department":"marketing", "hire_date":datetime.strptime("2013-11-09","%Y-%m-%d")},
  {"number":1003,"last_name":"Everest","first_name":"Brad","salary":71000,"department":"sales", "hire_date":datetime.strptime("2017-02-03","%Y-%m-%d")},
  {"number":1004,"last_name":"Horvath","first_name":"Jack","salary":42000,"department":"marketing", "hire_date":datetime.strptime("2017-06-01","%Y-%m-%d")},
]
emp_col.insert_many(emp_list)

In [27]:
for collect in mydb.list_collection_names():
    print(collect)

pymongo_col
employees

In [28]:
for employee in emp_col.find():
    print(employee)

{'_id': ObjectId('61baa68a6c2d74384d778417'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d778418'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d778419'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d77841a'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [29]:
# first_name like %a%
filter = {"first_name":{"$regex":"a"}}
for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [30]:
 
filter = {"first_name":{"$regex":"^J"}}
for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [31]:
    
filter = {"last_name":{"$regex":"h$"}}
for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [32]:
from datetime import datetime
from_dt = datetime.strptime("2016-01-01","%Y-%m-%d")
to_dt = datetime.strptime("2017-12-31","%Y-%m-%d")

#and
filter = {
    "hire_date":{"$gte":from_dt,"$lte":to_dt}
}
for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [33]:
filter = {
    "number":{"$in":[1001,1002]}
}
for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}

In [34]:
filter = { "$or": [ { "first_name":"Jack" } , { "salary":{"$gt":57500} } ] }

for employee in emp_col.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [35]:
### update_one(), update_many()
# number = 1001 department sales -> marketing
emp_col.update_one({"number":1001},{"$set":{"department":"marketing"}})
# number = 1001 , salary 62000 -> 63000
emp_col.update_one({"number":1001},{"$inc":{"salary":1000}})

In [36]:
for employee in emp_col.find():
    print(employee)

{'_id': ObjectId('61baa68a6c2d74384d778417'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d778418'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d778419'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('61baa68a6c2d74384d77841a'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [37]:
emp_col.update_many({},{"$set":{"status":"A"}})

In [38]:
for employees in emp_col.find({},{"_id":0}):
    print(employees)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'A'}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'A'}

In [39]:
#  update_many()
# number in [1003,1004 ] status = 'B' 로 update
filter = {
    "number":{"$in":[1003,1004]}
}
emp_col.update_many(filter,{"$set":{"status":"B"}})

In [40]:
for employees in emp_col.find({},{"_id":0}):
    print(employees)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'B'}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'B'}

In [41]:
# delete_many()
# status = 'B' 인 employee 삭제
emp_col.delete_many({"status":"B"})

In [42]:
for employees in emp_col.find({},{"_id":0}):
    print(employees)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}